# <center> Data Types <center>

## Task 1 & 2

In [1]:
# given a string for example
str1 = "Welcome to python"

# check if "to" is present in "welcome to python"
'to' in str1

True

# <center> List <center>

## Task-3.1
go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

In [2]:
list1 = [1,2,3,4,3,4,3,2,1,6,7]

In [3]:
# remove()

list1.remove(6)
list1

[1, 2, 3, 4, 3, 4, 3, 2, 1, 7]

In [4]:
# Count() --> To count the number of occurances

list1.count(3)

3

In [5]:
# sort()--> To sort in ascending or descending order.

list1.sort()
list1

[1, 1, 2, 2, 3, 3, 3, 4, 4, 7]

In [6]:
list1.sort(reverse=True) # sorting in reverse
list1

[7, 4, 4, 3, 3, 3, 2, 2, 1, 1]

In [7]:
# clear() ---> To empty the list
list1.clear()
list1

[]

## Task-3.2
Create a list of length = 10 and access 5th to 8th data.

In [8]:
list1= [1,2,3,4,5,6,7,8,9,10]
print(list1)
print(len(list1))
print(type(list1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
<class 'list'>

In [9]:
# accessing 5th data
list1[4]

5

In [10]:
# acessing 8th data
list1[7]

8

## Task-4
2 problems!

In [11]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
print(l1)
print(type(l1))
#output
#[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

[10, 20, [30, 40, [50, 60], 80], 90, 100]
<class 'list'>

In [12]:
l1[2][2].append(70)

In [13]:
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [14]:
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
l2
#output
#[1,2,[3,4,5,6,[7,8]],9]

[1, 2, [3, 4, 5, 6], 9]

In [15]:
l2[2].append([7,8])

In [16]:
print(l2)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

# <center> Dictionary <center>

## Task-5

In [17]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

From the above dictionary, do the following tasks

1. access "Mike"
2. access 80
3. change "Mike" to "Your name"
4. add ML = 80 and DL = 80 inside marks

In [18]:
# access "Mike"
dict1['april_batch']['student']['name']

'Mike'

In [19]:
# access 80
dict1['april_batch']['student']['marks']['python']

80

In [20]:
# change "Mike" to "Your name"
dict1['april_batch']['student']['name'] = 'Daniel'

In [21]:
dict1['april_batch']['student']['name']

'Daniel'

In [22]:
# add ML = 80 and DL = 80 inside marks
dict1['april_batch']['student']['marks']['ML']= 80
dict1['april_batch']['student']['marks']['DL']= 80

In [23]:
dict1

{'april_batch': {'student': {'name': 'Daniel',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

# <center> Tuples <center>

## Task6 - Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)

In [24]:
tup= (1,2,3,4,5,6,7,8,9)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [25]:
# add 10 and remove 9 from tuple
lst= list(tup)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
lst.pop()
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
lst.append(10)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [28]:
tup1= tuple(lst)

In [29]:
tup1

(1, 2, 3, 4, 5, 6, 7, 8, 10)

# <center> Sets <center>

## Task7 - go through other inbuilt methods like
1) difference() 2) symmetric_difference()

In [30]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [31]:
# difference
set3= set2.difference(set1)
set3

{6, 7, 8}

In [32]:
# symmetric_difference()
set4= set2.symmetric_difference(set1)
set4

{1, 2, 3, 6, 7, 8}

## Task8 - Make a table of all the In-built data structures and Point out the differences one by one

#### List
- A list is an ordered sequence of elements. 
- It is a non-scalar data structure and mutable in nature. 
- A list can contain distinct data types in contrast to arrays storing elements belonging to the same data types.
- Lists can be accessed by the help of the index by enclosing index within square brackets.

#### Tuples
- It is also a non-scalar type defined in Python. 
- Just like lists, it is also an ordered sequence of characters but tuples are immutable by nature. This means any modification is not allowed with this data structure.
- Elements can be heterogeneous or homogenous nature separated by commas within the parenthesis.

#### Sets
- It is an unordered collection of objects without any duplicates. 
- This can be done by enclosing all the elements within curly braces. 
- We can also form sets by using type casting via a keyword “set”.
- Elements of a set must of immutable data types. 
- Set doesn’t support indexing, slicing, concatenation & replication. 
- We can iterate over elements using the index.

#### Dictionary
- A dictionary is an unordered sequence of key-value pairs. 
- Indices can be of any immutable type and are called keys. 
- This is also specified within curly braces.
- We can access the values by the help of unique keys associated with them.

# <center> IF, ELIF and ELSE <center>

## Task9
- Ask 2 numbers from users and store it in num1 and num2
- Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division
- based on number given by user do the math operation

In [34]:
num1= int(input('Enter First number: '))
num2= int(input('Enter Second number: '))

Operation= int(input('press 1 for addition,2 for subtraction,3 for multiplication and 4 for division: '))

result= 0
    
if Operation== 1:
    result = num1+num2

elif Operation==2:
    result= num1-num2

elif Operation==3:
    result= num1*num2

elif Operation==4:
    result= num1/num2

else:
    print('Please enter a valid number between 1 and 4')
    
print(num1, Operation, num2,':',result)

Enter First number: 10
Enter Second number: 5
press 1 for addition,2 for subtraction,3 for multiplication and 4 for division: 3
10 3 5 : 50

# <center> Loops <center>

## Task 10.1 = what is the usage of continue wiith an example.

In [35]:
# The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration.
# example--->
i = 0
while i < 9:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7
8
9

## Task 10.2 What is pass keyword, with example.

In [36]:
# The pass statement is a null statement. But the difference between pass and comment is that comment is ignored by the 
# interpreter whereas pass is not ignored. 


li =['a', 'b', 'c', 'd']
 
for i in li:
    if(i =='a'):
        pass
    else:
        print(i)

b
c
d

## Task10
- Using while loop print numbers from 10 to 1
- Try using for loop to loop over tuples,sets and dictionaries

In [37]:
# Using while loop print numbers from 10 to 1
counter = 10
while(counter>0):
    print(counter)
    counter-=1

10
9
8
7
6
5
4
3
2
1

In [38]:
# Try using for loop to loop over tuples,sets and dictionaries

tup= (1,2,3,4,5)
print(type(tup))

for i in tup:
    print(i)

<class 'tuple'>
1
2
3
4
5

In [39]:
st= {1,2,3,4,5}
print(type(st))

for i in st:
    print(i)

<class 'set'>
1
2
3
4
5

In [40]:
dct= {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
print(type(dct))

for i,j in dct.items():
    print(i,j)

<class 'dict'>
a 1
b 2
c 3
d 4
e 5

# <center> Functions <center>

## Task 11.1
Explain Return keyword with example.

- A return statement is used to end the execution of the function call and “returns” the result (value of the expression following the return keyword) to the caller. 
- The statements after the return statements are not executed. 
- If the return statement is without any expression, then the special value None is returned. 
- Return statement can not be used outside the function.

In [41]:
l= [1,2,3]
for i in l:
    if i == 2:
        return 'Yes'

SyntaxError: 'return' outside function (<ipython-input-41-c67b541ddf23>, line 4)

In [42]:
l =[1,2,3]
def fun(x):
    m=[]
    for i in x:
        m.append(i**2)
    return m

In [43]:
fun(l)

[1, 4, 9]

## Task11.2
- Ask 2 numbers from users and store it in num1 and num2
- Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division
- create 4 seperate functions for each operation (i.e. addition,subtraction,multiplication and division)
- based on number given by user,call that perticular function and print the output

In [44]:
num1= int(input('Enter First number: '))
num2= int(input('Enter Second number: '))

Operation= int(input('press 1 for addition,2 for subtraction,3 for multiplication and 4 for division: '))

result= 0
    
if Operation== 1:
    result = num1+num2

elif Operation==2:
    result= num1-num2

elif Operation==3:
    result= num1*num2

elif Operation==4:
    result= num1/num2

else:
    print('Please enter a valid number between 1 and 4')
    
print(num1, Operation, num2,':',result)

Enter First number: 8
Enter Second number: 3
press 1 for addition,2 for subtraction,3 for multiplication and 4 for division: 2
8 2 3 : 5

# <center> Lambda,Map and Filter functions <center>

## Task10 : Go through
- reduce()
- zip()
- enumerate()

In [45]:
# Using reduce to find the sum of numbers in a list

import functools
nums = [0,1,2,3,4]

print(functools.reduce(lambda a,b: a+b, nums))

10

In [46]:
# Using Zip function
numbers= [1,2,3]
letters= ['a','b','c']
zipped= zip(numbers,letters)

print(dict(zipped))

{1: 'a', 2: 'b', 3: 'c'}

In [47]:
# using enumerate to get index and value.

numbers= [1,2,3,4,5]

for i in enumerate(numbers):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)